* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}
